<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">


<div style="display:none">Generate QR</div>

<h1>{{title}}</h1>
<h4 style="color:grey;">{{details}}</h4>

<div style="width:500px; height: 500px; margin: 50px; border: 3px solid black "></div>

    <div class="form-group">
        <label for="usr">Pattern:</label>
        <input type="text" class="form-control" id="usr">
    </div>

    <div class="form-group">
        <label for="pwd">Param Start:</label>
        <input type="text" class="form-control" id="paramStart">
    </div>

    <div class="form-group">
        <label for="pwd">Param End:</label>
        <input type="text" class="form-control" id="paramEnd">
    </div>

    <div class="form-group">
        <label for="pwd">Interval:</label>
        <input type="text" class="form-control" id="interval">
    </div>


<button type="button" class="btn btn-success">Start</button>
<button type="button" class="btn btn-primary">Save Params</button>
