<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">


<h1>{{title}}</h1>
<p style="max-width: 500px;">
    The purpose of the application is to recognise a
    pattern from a QR code, then generate similar QR codes following the pattern.
</p>

<p style="max-width: 500px;">
    The pattern can be saved and loaded to the DB. Entries can be looked up for analysis.
</p>


<button type="button" class="btn btn-default"><a href="/recogniseqr"> Recognise QR Code</a></button>
<button type="button" class="btn btn-default"><a href="/generateqr"> Generate QR Code</a></button>
<button type="button" class="btn btn-default"><a href="/logqrattempts">Show log</a></button>
