<div style="display:none">Recognise QR</div>

<h1>{{title}}</h1>
<h4 style="color:grey;">{{details}}</h4>


<p>Upload file </p>

    <form action="recogniseqr" method="post" enctype="multipart/form-data">
        <input type="file" name="filetoupload"><br>
        <input type="submit">
    </form>

<p>Use camera</p>